<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netopstec.extensible.mapper.StudentMapper" >

    <select id="findAll" resultType="Student">
        SELECT * FROM student
        WHERE flag = 0
    </select>

    <insert id="insertOne" parameterType="Map">
        INSERT INTO student(`name`,`sex`,`age`,`classroom_id`,`flag`)
        VALUES (#{name},#{sex},#{age}, #{classroomId},#{flag})
    </insert>
</mapper>